<h1>Records</h1>

<div class="container -fluid">
  <div class="row">
    <article class="col-xs-12 col-md-6">
      <ul><h2>いろはにほへと<span class="label label-default">New</span></h2>
        <li>いろはにおへと　ちりぬるを</li>
        <li>わかよたれそ　つねならん</li>
        <li>うゐのおくやま　けふこへて</li>
        <li>あさきゆめみし　ゑいもせすん</li>
    </ul></article>
    
    <article class="col-xs-12 col-md-6">
      <ul><h2>アルファベット</h2>
        <li>ABCDEFG</li>
        <li>HIJKLMN</li>
        <li>OPQRSTU</li>
        <li>VWXYZ</li>
    </ul></article>
            
    <article class="col-xs-12 col-md-6">
      <ul><h2>勧酒</h2>
        <li>君に勧む金屈卮</li>
        <li>満酌　辞するを須いず</li>
        <li>花発けば風雨多し</li>
        <li>人生　別離足る</li>
    </ul></article>
    
    <article class="col-xs-12 col-md-6">
      <ul><h2>平家物語　祇園精舎</h2>
        <li>祇園精舍の鐘の声、諸行無常の響きあり</li>
        <li>娑羅双樹の花の色、 盛者必衰の理をあらはす</li>
        <li>奢れる人も久しからず、ただ春の夜の夢のごとし</li>
        <li>猛き者もつひにはほろびぬ、ひとへに風 の前の塵に同じ</li>
    </ul></article>
  </div>
  
  <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>