body {
  text-align: center;
  background-color: #EAEAEA;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

a:link {
    color: #CC6699;
}

h1 {
  border-style: dotted;
  border-width: 1px;
}

div, p {
 
  border-width: 1px;
}

div.blog-panel {
  height: 200px;
  margin: 20px 0;
  padding: 10px;
}

article{
  margin-top: 40px;
  padding-bottom: 40px;
}

li{
    list-style:none;
}

ul{
    padding:0;
}